:root {
  --color-main: #eec40d;
  --color-body-bg: #6c757d;
  --color-body-text: #4f4f4f;
  --color-title: #313132;
  --color-text-gray: #6c757d;
  --color-main-green: #23b560;
  --color-error: #dc3545;
}
