@import "./vars";
@import "./components/custom-select";
@import "./components/custom-radio";
@import "./components/custom-checkbox";
@import "./components/btns";
@import "./edit-styles";

/* ------------------- Form Calculator -------------------- */
.calculator {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 30px;

  @media (max-width: 768px) {
    padding: 30px 20px;
  }

  @media (max-width: 767px) {
    padding: 30px 10px;
  }

  @media (max-width: 480px) {
    padding: 30px 5px;
  }

  &__title {
    max-width: inherit !important;
    margin-bottom: 35px !important;
    color: #313132;
    font-size: clamp(1.5rem, 1.244rem + 1.28vw, 2.188rem) !important;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: clamp(1.25rem, 0.472rem + 2.33vw, 2.188rem) !important;
    text-align: left !important;

    @media (max-width: 567px) {
      text-align: center !important;
    }
  }

  &__subtitle {
    margin-top: 0 !important;
  }

  &__group {
    position: relative;
  }

  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__btn {
    border-radius: 8px;
    &:not(:last-child) {
      margin-right: 20px;
    }

    @media (max-width: 480px) {
      width: 50%;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .btn-prev {
    margin-right: 20px;
  }

  .calculate {
    text-align: center !important;
  }

  @media (max-width: 480px) {
    &__btn {
      width: 50%;
    }
  }
}

/* Progressbar */
.calculator__progressbar {
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin-bottom: 35px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #f2f4f7;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 0;
  }

  &-active {
    background-color: #eec40d;
    width: 0%;
    height: 4px;
    transition: 0.3s;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--color-body-text);
    background: #eaecf0;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    z-index: 1;

    &::before {
      counter-increment: step;
      content: counter(step);
    }

    &::after {
      content: attr(data-title);
      position: absolute;
      top: calc(100% + 0.5rem);
      font-size: 0.85rem;
      color: #666;
    }

    &.is-active {
      color: #fff;
      background: #eec40d;
    }
  }
}

// Steps
.calculator__steps {
  &-title {
    font-size: clamp(1.125rem, 0.985rem + 0.7vw, 1.5rem);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: clamp(0.938rem, 0.705rem + 1.16vw, 1.563rem);
  }
}

.calculator__step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;

  &.is-active {
    display: block;
  }
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fxr {
  display: flex;
  justify-content: flex-end;
}

// buttons
.btn-prev {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  line-height: 52px;
  padding: 0px 30px;
  border: 1.5px solid #d0d5dd !important;
  border-radius: 8px;
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;

  &:hover {
    color: #313132;
    border: 1.5px solid #eec40d !important;
  }
}

.btn-next {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  line-height: 52px;
  padding: 0px 30px;
  background-color: #eec40d;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

  &:hover,
  &:active {
    color: #fff;
    background-color: #4f4f4f;
  }
}

.drivers-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding: 0 24px;
  border-radius: 8px;
  color: #4f4f4f;
  border: 1px solid #d0d5dd;
  border-radius: 0.5rem;
  padding: 0.9375rem 1.25rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 0;

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
  }

  &:hover {
    border: 1px solid #eec40d !important;
  }

  .dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #d0d5dd;
    margin-right: 12px;
    position: relative;
    transition: border 0.2s ease-in-out;

    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #eec40d;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: visible;
      pointer-events: none;
      transition: opacity 0.2s ease-in-out;
    }
  }

  &.is-active {
    border: 1.5px solid #eec40d;
    font-size: 16px;
    font-weight: 500;

    .dot {
      border: 3px solid #eec40d;
      &::before {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
  }
}
