@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.woff) format("woff"),
    url(../fonts/Roboto-Light.woff2) format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.woff) format("woff"),
    url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.woff) format("woff"),
    url(../fonts/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.woff) format("woff"),
    url(../fonts/Roboto-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Black.woff) format("woff"),
    url(../fonts/Roboto-Black.woff2) format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
::-ms-input-placeholder {
  color: #666;
}
::placeholder {
  color: #666;
}
::-moz-selection {
  background-color: #eec40d;
  color: #fff;
}
::selection {
  background-color: #eec40d;
  color: #fff;
}
body {
  font-size: 16px;
  font-weight: 400;
  min-width: 350px;
  position: relative;
  line-height: 1.3;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  color: #4f4f4f;
}
body input,
body textarea {
  border: #666 1px solid;
  outline: 0;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  border-color: red;
}
body input:required:valid,
body textarea:required:valid {
  border-color: green;
}
.img-full {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-full.img-width {
  width: 100%;
}
.text-center {
  text-align: center;
}
a {
  color: #4f4f4f;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
a:hover {
  color: #eec40d;
  text-decoration: none;
}
b,
strong {
  font-weight: 700;
}
.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #4f4f4f;
  border-color: #4f4f4f;
}
button,
html [type="button"] {
  border: none;
}
button:hover,
html [type="button"]:hover {
  cursor: pointer;
}
.btn.focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}
button:active,
button:focus {
  outline: 0;
}
button::-moz-focus-inner {
  border: 0;
}
.btn-reset {
  border: none;
  padding: 0;
  background: 0 0;
  cursor: pointer;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0);
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: 0 0;
  box-shadow: 0 0;
}
h1 {
  font-weight: 800;
  font-size: calc(24px + 10 / 19 * 1vw);
  line-height: 1.2;
  color: #313132;
}
h2 {
  font-weight: 800;
  font-size: calc(22px + 10 / 19 * 1vw);
  line-height: 1.2;
  color: #313132;
}
h3 {
  font-weight: 500;
  font-size: calc(20px + 4 / 19 * 1vw);
  line-height: 1.2;
  color: #313132;
}
h4 {
  font-weight: 500;
  font-size: calc(18px + 2 / 19 * 1vw);
  line-height: 1.2;
  color: #313132;
}
.btn {
  padding: 10px 25px;
  font-weight: 500;
}
.btn-primary {
  background: #eec40d;
}
.btn-primary:hover {
  background: #4f4f4f;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0;
  vertical-align: 0;
  content: "";
  border-top: 0 solid;
  border-right: 0 solid transparent;
  border-bottom: 0;
  border-left: 0 solid transparent;
}
.navbar {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #fff;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
}
.navbar__container {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}
.navbar .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.navbar .top-menu a {
  color: #4f4f4f;
  text-decoration: none;
  margin-right: calc(10px + 30 / 19 * 1vw);
}
.navbar .top-menu a:last-child {
  margin-right: 0;
}
.navbar .top-menu a:hover {
  color: #eec40d;
}
.navbar .top-menu a.active {
  color: #eec40d;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #4f4f4f;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.nav-link:hover {
  color: #eec40d;
}
.nav-link.active {
  color: #eec40d;
}
.navbar-toggler {
  display: none;
}
.header {
  padding-top: calc(30px + 70 / 19 * 1vw);
  padding-bottom: calc(15px + 35 / 19 * 1vw);
  background: #f6f7f8;
  border-bottom: none;
}
.header__content {
  margin-bottom: calc(20px + 50 / 19 * 1vw);
}
.header__content h1 {
  font-style: normal;
  font-weight: 800;
  font-size: calc(24px + 24 / 19 * 1vw);
  line-height: 1.3;
  text-align: center;
  color: #313132;
  margin: 0;
  margin-bottom: calc(10px + 15 / 19 * 1vw);
}
.header__descript {
  text-align: center;
  max-width: 450px;
  margin: 0 auto calc(20px + 15 / 19 * 1vw) auto;
  font-size: 18px;
}
.header__link {
  text-align: center;
}
.header__image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  max-width: 660px;
}
.welfare {
  padding-top: calc(15px + 30 / 19 * 1vw);
  padding-bottom: calc(15px + 5 / 19 * 1vw);
  background: #f6f7f8;
}
.welfare__item {
  background: #eaecee;
  border-radius: 20px;
  padding: 30px 25px 45px 25px;
  margin-bottom: 30px;
}
.welfare__item-icon {
  margin-bottom: calc(15px + 30 / 19 * 1vw);
}
.welfare__item h3 {
  margin: 0;
  margin-bottom: 20px;
}
.welfare__item p {
  max-width: 315px;
}
.calculation {
  padding-top: calc(15px + 20 / 19 * 1vw);
  padding-bottom: calc(15px + 15 / 19 * 1vw);
  background: #f6f7f8;
}
.calculation h2 {
  text-align: center;
  max-width: 570px;
  margin: 0 auto calc(15px + 25 / 19 * 1vw) auto;
}
.calculation__item {
  background: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 22px;
  margin-bottom: calc(25px + 15 / 19 * 1vw);
}
.calculation__item-num {
  width: 60px;
  height: 60px;
  background: #9299a2;
  border-radius: 16px;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}
.calculation__item-text {
  max-width: 315px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.calculation__form {
  background: #fff;
  border-radius: 20px;
  padding: 25px calc(0px + 25 / 19 * 1vw);
}
.benefit {
  padding-top: calc(15px + 10 / 19 * 1vw);
  padding-bottom: calc(15px + 5 / 19 * 1vw);
  background: #f6f7f8;
}
.benefit h2 {
  margin: 0;
  margin-bottom: calc(15px + 20 / 19 * 1vw);
}
.benefit__image {
  background: #eaecee;
  border-radius: 20px;
  padding: 25px 8px calc(25px + 20 / 19 * 1vw) 8px;
  margin-bottom: 20px;
}
.benefit__image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  max-width: 630px;
}
.benefit__text {
  padding-right: calc(0px + 10 / 19 * 1vw);
}
.benefit__text-item {
  margin-bottom: calc(10px + 20 / 19 * 1vw);
}
.benefit__text-item:last-child {
  margin-bottom: calc(10px + 30 / 19 * 1vw);
}
.benefit__text-item h3 {
  margin-bottom: 10px;
}
.benefit__text-item p {
  margin: 0;
}
.advantages {
  padding-top: calc(10px + 10 / 19 * 1vw);
  padding-bottom: calc(0px + 15 / 19 * 1vw);
  background: #f6f7f8;
}
.advantages__item {
  background: #fff;
  border-radius: 20px;
  padding: 30px 25px 45px 25px;
  margin-bottom: 20px;
}
.advantages__item-icon {
  margin-bottom: calc(20px + 30 / 19 * 1vw);
}
.advantages__item h3 {
  margin: 0;
  margin-bottom: 20px;
}
.advantages__item p {
  margin: 0;
  max-width: 420px;
}
.advantages-2 {
  padding-top: calc(20px + 10 / 19 * 1vw);
  padding-bottom: calc(10px + 15 / 19 * 1vw);
  background: #f6f7f8;
}
.advantages-2 h2 {
  text-align: center;
  margin: 0;
  margin-bottom: calc(20px + 20 / 19 * 1vw);
}
.advantages-2 p {
  max-width: 480px;
}
.decline {
  padding-top: calc(15px + 15 / 19 * 1vw);
  padding-bottom: calc(15px + 15 / 19 * 1vw);
  background: #f6f7f8;
}
.decline h2 {
  text-align: center;
  margin: 0;
  margin-bottom: calc(20px + 15 / 19 * 1vw);
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.decline__item {
  background: #eaecee;
  border-radius: 20px;
  padding: 30px 25px 35px 25px;
  margin-bottom: 20px;
}
.decline__item-icon {
  margin-bottom: 45px;
  height: 36px;
}
.decline__item h3 {
  margin: 0;
  margin-bottom: 15px;
}
.decline__item p {
  margin: 0;
  max-width: 320px;
}
.trust {
  padding-top: calc(15px + 15 / 19 * 1vw);
  padding-bottom: calc(15px + 15 / 19 * 1vw);
  background: #f6f7f8;
}
.trust h2 {
  text-align: center;
  margin: 0;
  margin-bottom: calc(20px + 15 / 19 * 1vw);
}
.trust .benefit__image img {
  max-width: 600px;
}
.partners {
  padding-top: calc(5px + 15 / 19 * 1vw);
  padding-bottom: calc(15px + 15 / 19 * 1vw);
  background: #f6f7f8;
}
.partners h2 {
  text-align: center;
  margin: 0;
  margin-bottom: calc(20px + 15 / 19 * 1vw);
}
.slick-clients .clients__item img {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slick-clients .clients__item img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.answers {
  padding-top: calc(5px + 15 / 19 * 1vw);
  padding-bottom: calc(15px + 15 / 19 * 1vw);
  background: #f6f7f8;
}
.answers h2 {
  text-align: center;
  margin: 0;
  margin-bottom: calc(20px + 15 / 19 * 1vw);
}
.answers__area {
  padding-left: calc(10px + 105 / 19 * 1vw);
  padding-right: calc(10px + 105 / 19 * 1vw);
  background: #fff;
  border-radius: 20px;
}
.answers__item {
  padding: calc(15px + 15 / 19 * 1vw) calc(10px + 10 / 19 * 1vw) 0
    calc(10px + 10 / 19 * 1vw);
  border-bottom: 1px solid #9299a2;
}
.answers__item:last-child {
  border-bottom: 0 solid #9299a2;
}
.answers__item .acor-title {
  padding-bottom: calc(15px + 20 / 19 * 1vw);
  position: relative;
  font-weight: 500;
  font-size: calc(16px + 8 / 19 * 1vw);
  line-height: 1.2;
  color: #313132;
}
.answers__item .acor-title:hover {
  cursor: pointer;
}
.answers__item .acor-title::after {
  position: absolute;
  right: 0;
  top: 25%;
  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  height: 10px;
  background: url(../img/arrow.svg) 50% 50% no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  margin-right: -15px;
}
.answers__item .acor-body {
  background-color: #fff;
  padding: 0;
  height: 0;
  color: transparent;
  display: none;
}
.answers__item.is-active .acor-body {
  height: auto;
  color: #4f4f4f;
  padding: 0 0 20px 0;
  -webkit-transition: color 0.3s, padding 0.3s;
  -o-transition: color 0.3s, padding 0.3s;
  transition: color 0.3s, padding 0.3s;
  display: block;
}
.answers__item.is-active .acor-title::after {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.site-footer {
  padding-top: 25px;
  padding-bottom: calc(20px + 80 / 19 * 1vw);
  background: #f6f7f8;
}
.site-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 15px;
}
.site-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.site-footer__link-icon {
  margin-right: 8px;
}
.site-footer__link a {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #313132;
  text-decoration: none;
}
.site-footer__link a:hover {
  color: #eec40d;
}
.site-footer__link p {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #313132;
}
.page-content {
  padding-top: calc(15px + 30 / 19 * 1vw);
  padding-bottom: calc(15px + 25 / 19 * 1vw);
  background: #f6f7f8;
}
.page-content h1 {
  text-align: center;
  margin: 0;
  margin-bottom: calc(15px + 15 / 19 * 1vw);
}
.page-content__article {
  padding: calc(10px + 20 / 19 * 1vw);
  background: #eaecee;
  border-radius: 20px;
}
.page-purchase {
  padding-top: calc(15px + 30 / 19 * 1vw);
  padding-bottom: calc(15px + 25 / 19 * 1vw);
  background: #f6f7f8;
}
.page-purchase h1 {
  text-align: center;
  margin: 0;
  margin-bottom: calc(15px + 15 / 19 * 1vw);
}
.page-purchase__image {
  background: #eaecee;
  border-radius: 20px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page-purchase__image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 596px;
  height: auto;
}
.page-purchase__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
}
.page-purchase__item {
  background: #fff;
  border-radius: 20px;
  margin-left: 30px;
  padding: 30px 20px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #4f4f4f;
}
.page-purchase__item-num {
  min-width: 60px;
  height: 60px;
  background: #9299a2;
  border-radius: 16px;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -30px;
  margin-right: 25px;
}
.page-contact {
  padding-top: calc(15px + 30 / 19 * 1vw);
  padding-bottom: calc(15px + 25 / 19 * 1vw);
  background: #f6f7f8;
}
.page-contact h1 {
  text-align: center;
  margin: 0;
  margin-bottom: calc(15px + 15 / 19 * 1vw);
}
.page-contact__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: calc(15px + 25 / 19 * 1vw);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
.page-contact__item {
  background: #fff;
  border-radius: 20px;
  padding: 0 20px 15px 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  max-width: 420px;
  height: 182px;
}
.page-contact__item-icon {
  margin-bottom: 50px;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  background: #9299a2;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -30px;
}
.page-contact__item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #41464a;
}
.page-contact__item-text a {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  color: #eec40d;
}
.page-contact__item-text a:hover {
  color: #4f4f4f;
}
.page-contact__item-text .tel {
  font-size: 22px;
}
.page-contact__item.bg-gray {
  background: #eaecee;
}
.page-contact__map {
  background: #eaecee;
  border-radius: 20px;
  padding: 20px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .page-purchase .container {
    max-width: 1350px;
  }
}
@media (max-width: 1199.98px) {
  .page-purchase__content {
    margin-bottom: 20px;
  }
  .page-contact__area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-toggler {
    border: none;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
  .header_area .navbar {
    background: #fff;
  }
  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }
  .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #313132;
    margin: auto;
    margin-bottom: 4px;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    cursor: pointer;
  }
}
@media (max-width: 991.98px) {
  .navbar__container {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .navbar .top-menu {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .slick-clients .clients__item img {
    width: 130px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .page-purchase__item {
    margin-left: 22px;
    padding: 15px 15px 15px 0;
  }
  .page-purchase__item-num {
    min-width: 45px;
    height: 45px;
    font-size: 26px;
    border-radius: 8px;
    margin-left: -22px;
    margin-right: 15px;
  }
}
@media (max-width: 575.98px) {
  .navbar .navbar-brand img {
    width: 200px;
    height: auto;
  }
  .header__descript {
    font-size: 16px;
  }
  .answers__item .acor-body {
    font-size: 15px;
  }
  .page-purchase__content {
    row-gap: 45px;
    margin-top: 15px;
  }
  .page-purchase__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
    padding: 15px;
  }
  .page-purchase__item-num {
    margin-left: 0;
    margin-right: 0;
    margin-top: -37px;
    margin-bottom: 10px;
  }
  .page-contact__item-icon {
    min-width: 45px;
    max-width: 45px;
    height: 45px;
    border-radius: 8px;
    margin-top: -22px;
    margin-bottom: 35px;
  }
  .page-contact__item-icon img {
    -webkit-transform: scale(75%);
    -ms-transform: scale(75%);
    transform: scale(75%);
  }
  .page-contact__item-text a {
    font-size: 18px;
  }
  .page-contact__item-text .tel {
    font-size: 18px;
  }
  .page-contact__map {
    padding: 10px;
  }
}

@import "./style-form";
@import "./custom-calculator";
